
{% extends 'base.html' %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>





        
 
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">        
<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Real-Estate-App</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link  rel="stylesheet" type="text/css" href="../../static/css/styles.css" />
        
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    {% block content %}
<body style="background-color: burlywood">
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Tools</div>
                            <a class="nav-link" href="{% url 'property:searchproperty' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Property Search
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ user.username }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px 4%">
                        <h1 style="color: rgb(255, 255, 255) ;text-shadow :2px 15px 15px black;" class="mt-4">Real-Estate</h1>
                        <ol class="breadcrumb mb-4">
                            <li style="color: white ;font-weight: 500; text-shadow :2px 15px 15px black"  class="breadcrumb-item active">Welcome {{ user.username }}</li>
                        </ol>
                        
                        <!-- <div class="row">
                            
                            <div class="col-xl-3 col-md-6" style="width: 15rem; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" >
                                <div class="card bg-info text-white mb-4'">
                                    <div class="card-body">Rishon-lezion</div>
                                    <img src="{% static 'assets/img/rishon.jpeg' %}" >
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'property:rishon' %}">Rishon-lezion Apartments</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-xl-3 col-md-6" style="width: 15rem; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Tel Aviv</div>
                                    <img src="{% static 'assets/img/tlv.jpg' %}"  >
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'property:telaviva' %}">Tel-Aviv Apartments</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6" style="width: 15rem ; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Ramat Gan</div>
                                    <img src="{% static 'assets/img/ramatgan.jpeg' %}" width="100%" height="80%">
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        
                                        <a class="small text-white stretched-link" href="{% url 'property:ramatgan' %}">Ramat Gan Apartments</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-xl-3 col-md-6" style="width: 15rem ; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Projects</div>
                                
                                <img src="{% static 'assets/img/construction.jpeg' %}">
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="{% url 'property:all_projects' %}">All Projects</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                            <!-- ###### -->
                            <div class="row" style="justify-content: space-around">
                                <div class="col-sm-6" style="width: 400px;height: 400px; box-shadow: -11px 24px 62px -13px rgba(0,0,0,0.69);">
                                    <div class="card"  >
                                        <div class="card-body" >
                                    <h5 class="card-title" style="font-weight:750 ; font-style:oblique; font-size:x-large ; border-bottom: 2px solid wheat;">Tel-Aviv</h5>
                                    <img src="{% static 'assets/img/tlv.jpg' %}" style="width:85% ;">
                                    <a class="small text-white stretched-link" href="{% url 'property:telaviva' %}">TLV-Apartments</a>
                                    
                                        <h5 class="card-text" style="font-weight:750 ; font-style:oblique; font-size:large ;">See all the property in Tel-Aviv</h5>
                                      <a href="{% url 'property:telaviva' %}" class="btn btn-primary" style="font-weight:750 ; font-style:italic; font-size:large ;">TLV-Apartments</a>
                                    </div>
                                  </div>


                                <br><br><br>


                            </div>
                            <div class="col-sm-6" style="width: 400px;height: 400px; box-shadow: -11px 24px 62px -13px rgba(0,0,0,0.69);">
                                <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title" style="font-weight:750 ; font-style:oblique; font-size:x-large ; border-bottom: 2px solid wheat;">Rishon-lezion</h5>
                                      <img src="{% static 'assets/img/rishon.jpeg' %}" width="72%">
                                      <a class="small text-white stretched-link" href="{% url 'property:ramatgan' %}">Rishon-Lezion Apartments</a>
    
                                      <p class="card-text" style="font-weight:750 ; font-style:oblique; font-size:large ;">See all the property in Rishon-lezion</p>
                                      <a href="{% url 'property:rishon' %}" class="btn btn-primary"style="font-weight:750 ; font-style:italic; font-size:large ;" >Rishon-Lezion Apartments</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br><br><br>


                        <div class="row" style="justify-content: space-around">
                            <div class="col-sm-6" style="width: 400px;height: 400px; box-shadow: -11px 24px 62px -13px rgba(0,0,0,0.69);">
                                
                                <div class="card"  >
                               
                                <a class="small text-white stretched-link" href="{% url 'property:all_projects' %}">All Projects</a>
                                <div class="card-body" >
                                    <h5 class="card-title" style="font-weight:750 ; font-style:oblique; font-size:x-large ; border-bottom: 2px solid wheat;">Projects</h5>
                                    <img src="{% static 'assets/img/construction.jpeg' %}" style="width:100% ;">

                                  
                                  <p class="card-text" style="font-weight:750 ; font-style:oblique; font-size:large ;">See all the projects that are going to be built </p>
                                  <a href="{% url 'property:all_projects' %}" class="btn btn-primary" style="font-weight:750 ; font-style:italic; font-size:large ;">All Projects</a>
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-sm-6" style="width: 400px;height: 400px; box-shadow: -11px 24px 62px -13px rgba(0,0,0,0.69);">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-weight:750 ; font-style:oblique; font-size:x-large ; border-bottom: 2px solid wheat;">Ramat-Gan</h5>
                                  <img src="{% static 'assets/img/ramatgan.jpeg' %}" width="80%" height="80%">
                                  <a class="small text-white stretched-link" href="{% url 'property:ramatgan' %}">Ramat Gan Apartments</a>

                                  <p class="card-text" style="font-weight:750 ; font-style:oblique; font-size:large ;">See all the property in Ramat-Gan</p>
                                  <a href="{% url 'property:ramatgan' %}" class="btn btn-primary" style="font-weight:750 ; font-style:italic; font-size:large ;">Ramat-Gan Apartments</a>
                                </div>
                              </div>
                            </div>
                          </div>


                            <br><br><br>

                          <!-- ##### -->
                        
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                     
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/static/assets/demo/chart-area-demo.js"></script>
        <script src="/static/assets/demo/chart-bar-demo.js"></script>

       
        
{% endblock %}
    </body>
</html>